/* Container principal */
.Contact-root {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Fond noir complet derrière l'image */
.background-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* noir pour remplir les zones vides */
  z-index: -2;
}

/* Image de fond responsive */
.bg-imaget {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* garde l'image entière */
  z-index: -1; /* devant le noir mais derrière le texte */
  filter: blur(9px);
}

/* Texte et boutons au-dessus */
.accueil-header, .bottom-section {
  position: relative;
  z-index: 1;
}

.accueil-header{
  overflow: auto;
}

/* Header / titre */
.accueil-headers {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem 1.5rem;
}

.title-containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 34rem;
  padding-left: 0.5rem; /* espace à gauche */
  margin-top: 0rem; /* descend le bloc titre */
}

.small-titles {
  /* font-family: "Honest", sans-serif; */
   font-size: clamp(2rem, 3.4vw, 3rem); /* très large et responsive */
  color: #d4af37;
  margin: 0;
  line-height: 0.95;
  margin-bottom: 0.12rem;
  font-weight: 900; /* texte gras */
}

.logos {
  /* font-family: "Bebas Neue", sans-serif; */
  font-size: clamp(2rem, 3.4vw, 3rem); 
  margin-bottom: 0.12rem;
  color: white;
   margin-top: 5rem;
}

.subtitles {
  /* font-family: "Honest", sans-serif; */
  font-size: clamp(0.95rem, 1.6vw, 1.25rem);
  color: #fff;
  line-height: 1.25;
  margin-top: 0.80rem;
}

/* Section du bas : bouton et footer */
.bottom-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.cta-buttons {
  background: #d4af37;
  color: #fff;
  border: none;
  padding: 0.99rem 3rem;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
  min-width: 300px;
}

.cta-button:hover {
  background: #d4af37;
  transform: scale(1.03);
}

.accueil-footers {
  color: #d1d1d1;
  font-size: 0.82rem;
  text-align: center;
}
