.detail-container {
  background: black;
  color: white;
  min-height: 100vh;
}

.banner {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.detail-content {
  padding: 20px;
}

h1 {
  color: gold;
}

section {
  margin-top: 25px;
}

h3 {
  color: gold;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gold;
}