/* --- Container Liste --- */

.salons-container {
  min-height: 10vh;
  background: black;
  padding: 20px;
  color: gold;
}

.salons-title {
  text-align: center;
  margin-bottom: 20px;
}

/* --- Cards Liste --- */

.salon-card {
  display: flex;
  gap: 15px;
  border-radius: 15px;
  padding: 9px;
  margin-bottom: 20px;
  text-decoration: none;
  color: gold;
  transition: 0.3s;
}

.salon-card.normal {
  border: 1px solid gold;
  background: #111;
}

.salon-card.vip {
  border: 2px solid gold;
  background: linear-gradient(135deg, #111, #1a1a1a);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.salon-card.premium {
  border: 3px solid gold;
  background: linear-gradient(135deg, #000, #1a1a1a);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.6);
  transform: scale(1.02);
}

/* --- Image Liste --- */

.salon-image {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  object-fit: cover;
}

/* --- Badges --- */

.badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
}

.badge.normal {
  background: #333;
  color: gold;
}

.badge.vip {
  background: black;
  border: 1px solid gold;
  color: gold;
}

.badge.premium {
  background: gold;
  color: black;
}

/* --- Detail Page --- */

.detail-container {
  min-height: 100vh;
  background: black;
  padding: 20px;
  color: gold;
  text-align: center;
}

.detail-container.vip {
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.3);
}

.detail-container.premium {
  box-shadow: 0 0 50px rgba(255, 215, 0, 0.6);
}

.banner {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* --- Boutons --- */

.order-btn {
  background: gold;
  color: black;
  padding: 12px;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.whatsapp-btn {
  display: block;
  width: 90%;
  margin: 10px auto;
  background: #25D366;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.review-btn {
  background: transparent;
  border: 1px solid gold;
  color: gold;
  padding: 12px;
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  cursor: pointer;
}